body {
    margin: 0;
}

.nav {
    width: 100%;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__title {
    font-size: 27px;
    padding: 15px;
}

.nav__list {
    list-style: none;
    display: flex;
    padding-right: 20px;
    font-size: 24px;
}

.nav__item {
    margin-left: 10px;
}

.container {
    font-size: 20px;
    width: 700px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid grey;
}

.container form {
    display: flex;
    flex-direction: column;
}

.nickname {
     margin: 10px 0;
}

.container textarea {
    font-size: 20px;
    width: 694px;
    height: 150px;
}

input[type=submit] {
    font-size: 20px;
    width: 125px;
    height: 40px;
    background-color: white;
    align-self: flex-end;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: gray;
}

.comments {
    border: 1px solid grey;
    padding: 20px;
}

.comments ~ .comments {
    margin-top: 20px;
}

.comments__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.comments__comment {
    font-size: 15px;
}

.signup,
.login {
    font-size: 20px;
    width: 250px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid grey;
    text-align: center;
}
